{% extends 'base.html' %}
{% load static %}

{% block title %}register{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

{% endif %}

  <h2>Register</h2>

  {% load crispy_forms_tags %}
  <div class="w-50 ms-4">  
  <form method="post">
    {% csrf_token %}
    {% crispy form %}
    <button type="submit">Register</button>
  </form>
</div>
{% endblock %} 